<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div id="webgl"></div>

		<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
		<script src="js/libs/three.min.js"></script>
		<script src="js/libs/Detector.js"></script>
		<script src="js/libs/Quaternion.js"></script>
		<script src="js/libs/OrbitControls.js"></script>
		<script src="js/libs/LensFlare.js"></script>
		<script src="js/libs/PointCloud.js"></script>
		<script src="js/earth.js"></script>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>