<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
	<link rel="stylesheet" href="stylesheets/libs/LeafletStyleSheet.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


	<script>
      var lat = <%= lat %>
      var lng = <%= lng %>
      var zoom = <%= zoom %>
    </script>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<div id="map" style="width:100%; height: 92%;" ></div>


	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
	<script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
	<script src="js/libs/PruneCluster.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <script src="js/libs/StreetViewButtons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

	<script src="js/heatmap-detailed.js"></script>

	<footer>
		<% include ../partials/footer %>
	</footer>


</body>
</html>